/*general styles*/
/*body{padding: 3em;} */
/*html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;} */


/*slideshow styles*/


*{
    margin:0;
    padding:0;
    
    
}


.slideshow {
    height:260px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
/*  border: solid 1px white; */
}

.slideshow-container {
  width: 100%;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}


.how{
        width:33.3%;
    height:260px;
}
/*
.img, .text-container {
  width: 425px;
  height: 220px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
*/
.text-container {
  height: 22px;
  position: relative;
}


p {
  position: relative;
  top: -45%;
  padding: 5px;
}

.slide {
  animation: slide 10s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-25%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-50%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-75%);
  }
  
  99% {
    transform: translateX(-75%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.p {
  margin-top: 140px;
  text-align: center;
}