@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
		width: 98%;
	height: 40%;
	margin: 5px;
	padding: 5px;
	border: 5px;
	background-color: red;
	
}

.ima {
	width: 100%;
	height: 40%;
	dispaly: flex;
	flex-direction: column;
	justify-content: center;
	border-color: red;
}

img {
	width: 100%;
	height: 10%;
	border-color: red;
}

.imageContainer{
	
	display:flex;
  flex-direction: column-reverse;
	
}