<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css" href="" th:href="@{/css/photoGallary.css}">


</head>
<body>

	<h2>Welcome to Image Gallery</h2>
<h4>Thank you for visiting this page</h4>

<div>

			<a th:href="@{/}">HOME</a>

			<a th:href="@{/indexSlider}">GALLARY</a>

</div>



<div class="flex-container">




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barrackporeLockshobha/IMG_20190429_183150.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barrackpore Lockshobha</div>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barrackporeLockshobha/barrackpore.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barrackpore Lockshobha</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barrackporeLockshobha/IMG_20190428_175247.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barrackpore Lockshobha</div>
  </div>
</div>







<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barrackporeLockshobha/IMG_20190428_161059__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barrackpore Lockshobha</div>
  </div>
</div>









<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barrackporeLockshobha/IMG_20190422_133852.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barrackpore Lockshobha</div>
  </div>
</div>










<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barrackporeLockshobha/IMG_20190422_121013.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barrackpore Lockshobha</div>
  </div>
</div>








<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/dumdumLockshobah/dumdum.jpg}" width="600" height="400">
    </a>
    <div class="desc">Dumdum Lockshobah</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/dumdumLockshobah/IMG_20190501_181648__02.jpg}" width="600" height="400">
    </a>
    <div class="desc">Dumdum Lockshobah</div>
  </div>
</div>









<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon2.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/IMG_20190317_141443.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon3.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>







<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon4.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>







<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon5.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>







<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon6.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>






<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/IMG_20190420_124258.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>






<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon7.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/bangaonLockshobha/bangaon8.jpg}" width="600" height="400">
    </a>
    <div class="desc">Bangaon Lockshobha</div>
  </div>
</div>











<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/barasatLockshobha.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/barasatLockshobha2.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/IMG_20190420_164145.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/barasatLockshobha3.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/IMG_20190420_190530__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/barasatLockshobha4.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/IMG_20190430_215634__02.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/barasatLockshobha/barasatLockshobha5.jpg}" width="600" height="400">
    </a>
    <div class="desc">Barasat Lockshobha</div>
  </div>
  
</div>





<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190416-WA0005.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha </div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/ranaghat.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190421-WA0028.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190421-WA0029.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/ranaghat2.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190422-WA0013.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190422-WA0017.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190423-WA0007.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190423-WA0008.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190424-WA0003.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190424-WA0006.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0052.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0067__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0076.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0080.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0086.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0103.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190425-WA0114.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>





<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190426-WA0016.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190426-WA0026.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190426-WA0028.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190430-WA0018.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190518-WA0011.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190518-WA0012.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/ranaghatLockshobha/IMG-20190518-WA0013.jpg}" width="600" height="400">
    </a>
    <div class="desc">Ranaghat Lockshobha</div>
  </div>
  
</div>







<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/BJPMahaRally2019/FB_IMG_1558145165296__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">BJP Maha Rally 2019</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/BJPMahaRally2019/IMG_20190514_145003_Bokeh.jpg}" width="600" height="400">
    </a>
    <div class="desc">BJP Maha Rally 2019</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/BJPMahaRally2019/IMG_20190514_162644.jpg}" width="600" height="400">
    </a>
    <div class="desc">BJP Maha Rally 2019</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/BJPMahaRally2019/IMG_20190514_172927.jpg}" width="600" height="400">
    </a>
    <div class="desc">BJP Maha Rally 2019</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/BJPMahaRally2019/IMG-20190518-WA0014.jpg}" width="600" height="400">
    </a>
    <div class="desc">BJP Maha Rally 2019</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/CECandWBState/IMG_20190224_162507__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">CEC and West Bengal State</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/CECandWBState/IMG_20190408_174835__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">CEC and West Bengal State</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/pressClub/pressClub.jpg}" width="600" height="400">
    </a>
    <div class="desc">Shuntanu Thakur</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/pressClub/IMG_20190413_221226.jpg}" width="600" height="400">
    </a>
    <div class="desc">Press Club</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0052.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0053__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0054.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0055.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0057__01.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0060.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0062.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0063.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0064.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0065.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0066.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0067.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0068.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0069.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/haripurLockShobha/IMG-20190426-WA0070.jpg}" width="600" height="400">
    </a>
    <div class="desc">Haripur Lockshobha</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/maldaLockShobha/malda1.jpg}" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
  
</div>




<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda1.jpg">
      <img src="" th:src="@{/images/maldaLockShobha/malda2.jpg}" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda3.jpg}">
      <img src="" th:src="@{/images/maldaLockShobha/malda3.jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda4.jpg">
      <img src="" th:src="@{/images/maldaLockShobha/malda4.jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
  
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda5.jpg">
      <img src="" th:src="@{/images/maldaLockShobha/malda5.jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda6.jpg">
      <img src="" th:src="@{/images/maldaLockShobha/malda6.jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="malda6.jpg">
      <img src="" th:src="@{/images/maldaLockShobha/malda7.jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Maldha LockShobha</div>
  </div>
</div>











<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Refugee_3.jpg">
      <img src="" th:src="@{/images/extraPhoto/IMG_20190421_205800 (1).jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"></div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Refugee_3.jpg">
      <img src="" th:src="@{/images/extraPhoto/IMG_20190516_115815__01 (1).jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"></div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Refugee_3.jpg">
      <img src="" th:src="@{/images/extraPhoto/IMG_20190508_140908__01 (1).jpg}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"></div>
  </div>
</div>







</div>



</body>
</html>
