<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <h1>Upload Video (26 MB Size)</h1>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
        <label>Title:</label>
        <input type="text" name="title" required />
        <label>File:</label>
        <input type="file" name="file" required />
        <button type="submit">Upload</button>
    </form>

    <h2>Videos</h2>
    <ul>
        <li th:each="video : ${videos}">
            <span th:text="${video.title}"></span>
            <a th:href="@{'/video/' + ${video.id}}" target="_blank">Play</a>
        </li>
        
        
        
    </ul>
</body>
</html>