<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>nikhilbharat</title>
</head>
<body>
        <li class="menu-active"><a href="/">Home</a></li>

<h1>Welcome to tutorials</h1>

	<div class="videoWrapper">
<h1>নিখিল ভারত ওয়েবসাইট কিভাবে খুলবেন, চলুন জেনে নিই
</h1>


    <iframe width="914" height="514" src="https://www.youtube.com/embed/sj22omePEmA" title="how to visit nihilbharat website in Mobile." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	</div>

	<div class="videoWrapper">
<h1>how to visit nikhilbharat website with PC or Laptop part-1</h1>


<iframe width="560" height="315" src="https://www.youtube.com/embed/5UUdWW7QMsw?si=v5Z5sJHoTQfnAzRa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>
	
	<div class="videoWrapper">
<h1>how to visit nikhilbharat website with PC or Laptop part-2</h1>

<iframe width="356" height="634" src="https://www.youtube.com/embed/SanUFHxVNXA" title="how to visit nikhilbharat website part-2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>	</div>
	
	
		<div class="videoWrapper">
<h1>how to visit nikhilbharat website with PC or Laptop part-3</h1>


<iframe width="915" height="514" src="https://www.youtube.com/embed/alpUq5e_7yU" title="how to visit nikhilbharat website part-3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>



<!-- 
<div id="allvideos">
        <h2>Videos here : </h2><br>
    <div class="video">
    <video src="videos/nb3" width="420px" height="480px" controls preload="none">
    </video>
</div>

</div>

 -->






</body>
</html>