<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>NikhilVarat</title>
</head>
<body>

    <img th:src="@{/images/hindus_2.jpg}" alt=""/>
<img src="" width="300" height="400" th:src="@{images/hindus_2.jpg}"/>
    
    
    <img th:src="@{/images/hindus_2.jpg}" alt=""/>
<img src="" width="300" height="400" th:src="@{images/hindus_2.jpg}"/>
    <img th:src="@{/images/hindus_2.jpg}" alt=""/>
<img src="" width="300" height="400" th:src="@{images/hindus_2.jpg}"/>
    <img th:src="@{/images/hindus_2.jpg}" alt=""/>
<img src="" width="300" height="400" th:src="@{images/hindus_2.jpg}"/>


</body>
</html>