<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:style="'background: url(/images/hindu_refugee.jpg) no-repeat fixed;background-size: cover;'">
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="" th:href="@{/css/index.css}">
<link rel="stylesheet" type="text/css" href="" th:href="@{/css/video_player2.css}">
<script src="static/js/" th:src="@{/js/video_player2.js}" type="text/javascript"></script>
<title>nikhilbharat</title>
<h1>Nikhil Bharat Bangali Samanwya Samiti</h1>


<h6>&nbsp THANK YOU FOR VISITING US .&nbsp &nbsp &nbsp PLEASE
	REGISTER. &nbsp &nbsp &nbsp &nbsp &nbsp IT'S OUR PLEASURE, YOU ARE
	HERE.</h6>





<link rel="stylesheet" type="text/css" href="" th:href="@{/css/in.css}">
<script src="" th:src="@{/js/easy_background.js}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/slide_image.css}">
<br>
<br>




</head>
<body>

<h2>Welcome to Tripura Video Gallary</h2>


	<div >
	
		<div calss="jay">
			<a th:href="@{/}">HOME</a> 
			<a th:href="@{/triPhoto_gallary}">GALLARY</a>
			<a th:href="@{/triVideolist}">VIDEOS</a> 
			<a th:href="@{/membership}">Membership</a>
			<a th:href="@{/typAnyThing}">Chat</a>
			<a th:href="@{/aboutUs}">aboutUs</a>
			
			

<div class="dropdown">
  <button class="dropbtn">All-State</button>
  <div class="dropdown-content">
			<a th:href="@{/bihar}">Bh</a> 
			<a th:href="@{/delhi}">Del</a> 
			<a th:href="@{/gujrat}">Guj</a> 
			
			<a th:href="@{/westBengal}">WB</a>
			<a th:href="@{/cg}">CG</a> 
			<a th:href="@{/od}">Od</a> 
						
						
			<a th:href="@{/an}">An</a> 
			<a th:href="@{/te}">Te</a> 
			<a th:href="@{/aAndn}">A&n</a> 
						
						
			<a th:href="@{/mh}">Mh</a> 
			<a th:href="@{/ka}">Ka</a> 
			<a th:href="@{/asm}">Asm</a> 
						
			<a th:href="@{/tri}">Tri</a> 
			<a th:href="@{/jh}">Jh</a> 
			<a th:href="@{/mp}">Mp</a> 
						
			<a th:href="@{/up}">Up</a> 
			<a th:href="@{/uk}">Uk</a> 

						 
			
  </div>
</div>
			
			
		</div>
		



	</div>



	<div class="slideshow">
		<div class="slideshow-container slide">

			<img src="" width="300" height="400"
				th:src="@{/images/extraPhoto/IMG_20190516_115815__01 (1).jpg}" /> <img
				src="" width="300" height="400"
				th:src="@{/images/maldaLockShobha/malda1.jpg}" /> <img
				src="" width="300" height="400"
				th:src="@{/images/extraPhoto/IMG_20190516_115815__01 (1).jpg}" /> <img
				src="" width="300" height="400"
				th:src="@{/images/CECandWBState/IMG_20190224_162507__01.jpg}" /> <img
				src="" width="300" height="400"
				th:src="@{/images/CECandWBState/IMG_20190408_174835__01.jpg}" />

		</div>
	</div>



	<marquee vspace="0">
		<font size="2" color="#b3ff1a">
			<h2>
				Welcome to "Nikhil Bharat Bangali Samanwya Samiti"


				<style>
h1 {
	text-shadow: 2px 2px #b3ff1a;
	text-align: center;

	/*  width: 10px;
  height: 10px; */
}
</style>
			</h2>
		</font>
	</marquee>

	<marquee vspace="0" behavior="scroll" direction="left">
		<img class="run" src="images/bengali-hindu-refugees.jpg" />

		<form>
			<script src="https://checkout.razorpay.com/v1/payment-button.js"
				data-payment_button_id="pl_Ph2YWT1ipczpJL" async> </script>
		</form>
		<h2>Stay with us</h2>
		<style>
h1 {
	color: white;
	text-shadow: 2px 2px 4px #000000;

	/*  width: 10px;
  hrgb(14, 230, 241)(255, 0, 128)ht: 10px; */
}
</style>





	</marquee>


	<section class="half">

		<!--PYAMENT LINK -->

		<form>
			<script src="https://checkout.razorpay.com/v1/payment-button.js"
				data-payment_button_id="pl_Ph2YWT1ipczpJL" async> </script>
		</form>

		<style>
h1 {
	text-shadow: 2px 2px rgb(179, 255, 26);
	/*  width: 10px;
  height: 10px; */
}
</style>


		<div class="w3-content w3-section">
			<img class="mySlides" src=""
				th:src="@{/images/extraPhoto/IMG_20190516_115815__01 (1).jpg}">
			<img class="mySlides" src=""
				th:src="@{/images/extraPhoto/IMG_20190421_205800 (1).jpg}"> <img
				class="mySlides" scr=""
				th:src="@{/images/extraPhoto/IMG_20190516_115815__01 (1).jpg}">
		</div>


</style>

<script class="runn">
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script class="runn">


<!--
        <img src="hindu_refugee.jpg" alt="internet image" width="300" height="200"></img>


    <br>

        <img src="Refugee_3.jpg" alt="internet image"  width="200" height="120"></img>

        <br>

         <img src="hindu_refugee.jpg" alt="internet image" width="200" height="90"></img>


       -->

    </section class="half">
    
    
    
    
    <h2>WATCH HERE :</h2>

  <div class="videoWrapper">
		<iframe id="player1" width="500" height="320"
			src="https://www.youtube.com/embed/n7Jsij7XyZ4" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen> </iframe>
    
</div>




  
  
            
    


 <div id="vid1">
        <h2>Videos here : </h2><br>
    <div class="video">
    <video src="videos/javatechie" width="420px" height="480px" controls preload="none">
    </video>
</div>

</body>
</html>